<div class="container wrapper">
    <div class="row">
        <div class="col-lg-5">
            <h5>1. first select a day <br>2. add a recipe to that day</h5>
            <form>
                <div class="form-group">
                    <select class="form-control" id="select-day">
                        <option selected>choose a day...</option>
                        <option value="mon">monday</option>
                        <option value="tue">tuesday</option>
                        <option value="wed">wednesday</option>
                        <option value="thur">thursaday</option>
                        <option value="fri">friday</option>
                        <option value="sat">saturday</option>
                        <option value="sun">sunday</option>
                    </select>
                </div>
            </form>
            <div id="recipe-list">
            </div>
        </div>

        <div class="col-lg-7">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">monday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="monday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">tuesday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="tuesday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">wednesday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="wednesday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">thursday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="thursday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">friday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="friday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="saturday">
                        </div>
                    </td>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col" class="mp-head">sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <div class="row" id="sunday">
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>