<div class="container wrapper">
    <div class="row">
        <div class="col-lg-9">
            <div id="recipe-name"></div>
            <div class="container wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>ingredients:</h4>
                        <div class="rec-body" id="ingredients"></div>
                        <h4>steps:</h4>
                        <div class="rec-body" id="steps"></div>
                        <button class="btn btn-primary save-rec-btn hide" id="save-btn">save</button>
                    </div>
                    <div class="col-lg-6">
                        <h4>does this recipe contain...</h4>
                        <div id="dairy"></div>
                        <div id="eggs"></div>
                        <div id="nuts"></div>
                        <div id="wheat"></div>
                        <div id="soy"></div>
                        <div id="fish"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center">
            <div>
                <div class="img-full" id="img"></div>
                <button class="btn btn-primary edit-rec-btn" id="edit-btn">edit recipe</button>
            </div>
        </div>
    </div>
</div>